.img-scaling {
    min-width: 250px;
}
.text-dec li , ::marker {
    text-decoration: none;
}

.list-group-item, .li, .ul , .a, {
    text-decoration: none;
    background-color: black;
    /*color: white;*/
}
.list-group-item a:hover, .text-dec a:hover {
    color: orange;
}

.footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
}

.logo-white {
    background-color: white!important;
    color:white!important;
    opacity: 1;
}
.text-dec {
    text-decoration: none;
        color: white;
}