.img-scaling {
    min-width: 250px;
}
.text-dec a {
    text-decoration: none;
}

.list-group-item, .li, .ul , .a, .text-dec {
    text-decoration: none;
    background-color: black;
    /*color: white;*/
}
.list-group-item a:hover, .text-dec a:hover {
    color: orange;
}

.footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
}